* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
}

h1 {
  color: #ba001f;
}

body {
  background-color: rgb(31, 41, 41);
}

ul {
  list-style: none;
  background-color: #fefdf8;
}

.coinlist-image {
  width: 50px;
}


.coinlist-item {
  display: flex;
  background-color: rgb(240, 240, 240);
}

.coinlist-item:hover {
  background-color: rgb(201, 231, 241);
}

.coinsummary {
  border-color: white !important;
  border-style: outset !important;
}

.coin-data-category {
  font-size: 10px;
}

.delete-icon {
  display: none;
  position: absolute;
  right: 6px;
}

.coin:hover .delete-icon {
  display: block;
}